{% extends 'crowdsrc/base.html' %}
{% block title %}All Subtasks{% endblock %}
{% block subtasks_active %}active{% endblock %}

{% block body %}
<div class="container-fluid subtasks-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" {% if filter_by = 'all' %}class="active"{% endif %}><a href="{% url 'crowdsrc:subtasks' 'all' %}">View All</a></li>
                <li role="presentation" {% if filter_by = 'favorites' %}class="active"{% endif %}><a href="{% url 'crowdsrc:subtasks' 'favorites' %}">Favorites</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Subtask Title</th>
                                <th>Reruester</th>
                                <th>Text File</th>
                                <th>Task</th>
                                <th>Favorite</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subtask in subtask_list %}
                                <tr>
                                    <td>{{ subtask.subtask_title }}</td>
                                    <td>{{ subtask.task.requester }}</td>

                                    <td>
                                        <a href="{% url 'crowdsrc:favorite' subtask.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if subtask.is_favorite %}active{% endif %}"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
